<a href="https://colab.research.google.com/github/ManjeetMehta/QBIntegration/blob/master/pandas/PandasPractice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [6]:
import pandas as pd
import numpy as np

In [2]:
pd.__version__

'1.0.5'

In [47]:
list_a = [1,2,3,4,'data values']
#print(list_a)

#print(type(list_a))

series = pd.Series(list_a)
#print(series)

type(series)

series2 = pd.Series([1,2,3,4,5])
#print(series2)

emptySeries = pd.Series([])
#print(emptySeries)

series3 = pd.Series([1,2,3,4,5], index = ['a','b','c','d','e'])
#print(series3)

series4 = pd.Series([1,2,3,4,5], index = ['a','b','c','d','e'], dtype=float, name ='data values')
#print(series4)

scalar = pd.Series(0.5)
#print(scalar)

scalar1 = pd.Series(0.5, index = ['a','b','c'])
#print(scalar1)

dist = pd.Series({'a':1, 'b':2, 'c':3})
#print(dist)

series5 = pd.Series([10,12,13,24,35])
#print(series5[2])
#print(series5[4])
#print(series5[1:4])

#print(max(series5))
#print(min(series5))

#print(series5 [series5>3])
#print(series5 [series5<2])

series6 = pd.Series([1,2,3,4,5,6], index = ['a','b','c','d','e','f'])
series7 = pd.Series([1,2,3,4,5], index = ['a','b','c','d','e'])
series8 = series6 + series7
#print(series8)

a     2.0
b     4.0
c     6.0
d     8.0
e    10.0
f     NaN
dtype: float64

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:14: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.

In [91]:
emptydf= pd.DataFrame()
#print(emptydf)

lst= ['a','b','c']
#print(lst) 

pdlst= pd.DataFrame(lst)
#print(pdlst)

lsofls = [[1,2], [4,5,6], [7,8,9,10,12]]
#print(lsofls)

listofDf = pd.DataFrame(lsofls)
#print(listofDf)

dict1= {'ID': [11,22,33,44]}
#print(dict1)

dict1DF = pd.DataFrame(dict1)
#print(dict1DF)

dict2= {'ID': [11,22,33,44], 'SN':[1,2,3,4]}
#np.transpose(dict2)
dict2dF= pd.DataFrame(dict2)
#print(dict2dF.transpose())
#print(dict2) 

#dict2DF = pd.DataFrame(dict2)
#print(dict2DF)

lsdict =  pd.Series({'a':2, 'b':4, 'c':5}, {'a':5, 'b':6, 'c':3})
#print(lsdict)
lsdictDF = pd.DataFrame(lsdict)
#print(lsdictDF)



dict3= {'ID': pd.Series([11,22,33,44]), 'SN':[1,2,3,4]}
print(dict3)

dict3DF = pd.DataFrame(dict3)
print(dict3DF)

{'ID': 0    11
1    22
2    33
3    44
dtype: int64, 'SN': [1, 2, 3, 4]}
   ID  SN
0  11   1
1  22   2
2  33   3
3  44   4